<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    {% if current_user.is_authenticated %}
        <h1>Welcome, {{ current_user.username }}</h1>
        <ul>
            <li>
                <a href="{{ url_for('main.user', username=current_user.username) }}">
                    Profile
                </a>
            </li>
        </ul>
    {% else %}
        <h1>Welcome, Guest</h1>
    {% endif %}
    <a href="{{ url_for('auth.logout') }}">Logout</a>
</body>
</html>
